@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#site-title {
  font-size: 3em;
}

#site-desc {
  font-style: italic;
}

.header,
.recipe-header {
  background-color: hsla(230, 33%, 48%, 0.78);
  color: hsla(42, 100%, 77%, 0.86);
  font-family: "Roboto", "Helvetica", "Tahoma", sans-serif;
  padding: 1ex;
}

.recipe-list {
  background-color: lightgrey;
  border-color: transparent;
  border-spacing: 2ex;
  font-family: "Roboto", "Helvetica", "Tahoma", sans-serif;
  margin: 1em;
  padding: 1em;
}

.popular {
  font-weight: bold;
}

.secondary {
  font-size: 2ex;
}